<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ path('list_attendance') }}">
        Student Attendace Mangement System
    </a>
</div>

<ul class="nav navbar-top-links navbar-right">

    {% include ':navigation:language_menu.html.twig' %}

    {% include ':navigation:user_menu.html.twig' %}

</ul>